<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<div th:replace="header :: header">...</div>


<div>
    <form method="post" th:action="@{/public/search}" th:object="${movies}">
        <input type="text" id="search" name="search" class="form-control" placeholder="Search" required autofocus/>
        <input type="submit" name="submit" id="submit" value="submit"/>
    </form>
</div>

<div class="movieBox" th:each="movie : ${movies}" >
    <a class="btn btn-primary" th:href="'/public/movie?id='+${movie.movieId}">
        <img class="moviePoster" th:src="${movie.posterUrl}" />
        <p th:text="${movie.movieName}"></p>
    </a>
</div>

</body>
</html>