<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

<div th:replace="header :: header">...</div>



<div class="container">

    <form class="form-signin" method="post" th:action="@{/public/register}" th:object="${user}">
        <ul>
            <p class="alert alert-danger" role="alert" th:each="error : ${errors}"  th:text="${error}"/>
        </ul>
        <h2 class="form-signin-heading">Sign Up</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" th:value="*{username}" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="email" class="sr-only">Email</label>
            <input type="email" id="email" name="email" th:value="*{email}" class="form-control" placeholder="Email" required>
        </p>
        <p>
            <label for="confirmEmail" class="sr-only">Confirm Email</label>
            <input type="email" id="confirmEmail" name="confirmEmail" th:value="*{confirmEmail}" class="form-control" placeholder="Confirm Email" required>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <p>
            <label for="confirmPassword" class="sr-only">Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required>
        </p>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>
</div>













    <!-- contact block
    <section class="w3l-contact py-5" id="contact">
        <div class="container py-md-5 py-4">
            <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                <h3 class="title-style">Registration Form</h3>
            </div>
            <div class="row login-block">
                <div class="col-md-7 login-center">
                    <ul>
                        <li class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('user.*')}" th:text="${error}" />
                    </ul>
                    <form th:action="@{/public/createUser}" method="post" class="form-signin" th:object="${user}">
                        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                            <p class="text-uppercase">Personal Details</p>
                        </div>
                        <div class="input-grids">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" th:field="*{username}" placeholder="Username"
                                        class="contact-input" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" th:field="*{email}" placeholder="Email"
                                           class="contact-input" />
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" th:field="*{confirmEmail}" placeholder="Confirm Email"
                                           class="contact-input" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="password" th:field="*{password}" placeholder="Password"
                                           class="contact-input" />
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" th:field="*{confirmPassword}" placeholder="Confirm Password"
                                           class="contact-input" />
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 login-center text-start">
                            <button class="btn btn-style btn-style-3">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    -->

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->

    <!-- common jquery plugin -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->

    <!-- theme switch js (light and dark)-->
    <script src="/assets/js/theme-change.js"></script>
    <!-- //theme switch js (light and dark)-->

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!-- bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap -->
    <!-- //Js scripts -->
</body>

</html>